@charset "ISO-8859-1";

#titre{
    position: absolute;
    left: 20%;
    top:50%;
    color: #FAEFE6;
}

#partieD {
    position: absolute;
    top: 0;
    right: 0;
    width: 31%;
    height: 100%;
    background: transparent;
}

#profil {
    float: left;
    width: 65%;
    height: 100%;
    background: #36322E;
}

#profil img {
    float: left;
    width: auto;
    height: 95%;
    margin-left: 4%;
}

#ecritureProfil {
    float: right;
    text-align: right;
    color: white;
    padding-right: 15px;
    padding-top: 10%;
}

#slogan {
    float: left;
    width: 32%;
    height: 100%;
    background: transparent;
    text-align: right;
    padding-right: 3%;
    color: white;
}

#Centrale {
    position: absolute;
    top: 25%;
    left: 0;
    width: 90%;
    height: 65%;
    background: #FAEFE6;
    margin-left: 5%;
    display: flex;
    flex-direction: column;

}

#top{
    display: flex;
    flex-direction: row;
    background: transparent;
}
#top > h3{

    flex-grow: 1;
}
#zone{
    margin-left: 3%;
}
#oeuvre{
    margin-left: 27%;
}
#center{
    flex-grow: 1;
    background: transparent;
    display: flex;
    flex-direction: row;
}

#gauche {
    margin-left: 5vb;
    margin-right: 5vb;
    margin-top: 5vb;
    margin-bottom: 5vb;
    background: transparent;
    border: 5px solid #36322E;
    color: #36322E;
    box-shadow: 4px 4px #36322E;
    flex-grow: 1;
}
#gauche > h3{
    margin-top: 15%;
    text-align: center;
    flex-grow: 1;
}
#droite {
    flex-grow: 1;
    background: transparent;
    border: 5px solid #36322E;
    color: #36322E;
    box-shadow: 4px 4px #36322E;
    margin-left: 5vb;
    margin-right: 5vb;
    margin-top: 5vb;
    margin-bottom: 5vb;
}
#deposer {
    margin-top: 35vb;
    font-size: 3cqb;
    border: 5px solid #36322E;
    color: #36322E;
    transition: background-color 0.3s;
    box-shadow: 4px 4px #36322E;
}
#deposer:active {
    background-color: #c0c0c0;
}









